@keyframes  pulse-animation {
        to {
          transform: perspective(300px) translateZ(100px);
          opacity: 0;
        }
      }
 .batman:after {
        animation: pulse-animation 1s infinite;
      }
      .batman {
        width: 100px;
        height: 45px;
        left: 100px;
        top: 100px;
        position: absolute;
      }
      .batman:before,
      .batman:after {
        content: "";
        position: absolute;
        inset: 0;
        background: #abb2bf;
        box-shadow: 0 0 0 50px;
        clip-path: polygon(
          -50px -20px,
          10% -12px,
          20% 0,
          calc(50% - 15px) 0,
          calc(50% - 10px) -20px,
          calc(50% - 8px) -15px,
          calc(50% + 8px) -15px,
          calc(50% + 10px) -20px,
          calc(50% + 15px) 0,
          80% 0,
          90% -12px,
          calc(100% + 50px) -20px,
          100% 80%,
          calc(100% + 10px) calc(100% + 10px),
          60% 100%,
          50% calc(100% + 15px),
          40% 100%,
          -10px calc(100% + 10px),
          0 80%
        );
      }
      @keyframes pulse-animation {
        to {
          transform: perspective(300px) translateZ(100px);
          opacity: 0;
        }
      }
