template(name='modal')
    // button#myBtn.ui.button
    //     |open modal
    #global_modal.modal
        .modal-content
            span.close
                i.remove.circular.link.icon.zoomer(title='close')
            p 
                |Some text in the Modal...