body {
    /* font-family: 'Raleway', sans-serif !important; */
     /*font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /*font-family: 'Goudy Bookletter 1911', sans-serif !important;*/
    font-size: 110% !important; 
    /*line-height: 200% !important;*/
    /*filter: invert(.9) !important;*/
    /*background: rgba(0,0,0,.9) !important; */
    /* background: rgba(200, 200, 200, .2) !important */
    /* background: #0e0e44 !important; */
}


.hscroll{
	overflow-y:hidden;
	overflow-x:scroll;
	/*max-height:700px;*/
	/*max-height:85vh;*/
	/*padding-top: 1em;*/
	/*padding-left: 1em;*/
}
.rightmenu:hover {
    content:url("/menu.gif");
    width: 35px;
    height: auto;
    font-size: .78571429rem;
}
.leftmenu:hover {
    content:url("/leftmenu.gif");
    width: 35px;
    height: auto;
    font-size: .78571429rem;
}

.spacer {
  height:15px !important;
}

.ui.progress {
  margin: 0px !important;
}

.ui.label {
  margin:2px !important;
}

.zoomer{
    transition: transform 2s; /* Animation */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}
.zoomer {
    transition: scale 1s; /* Animation */
}
.zoomer:hover {
    /*box-shadow: inset 0px 0px 10px 10px rgba(250,250,250,0.8);*/
    /*border-radius: 15px !important;*/
    /*filter: drop-shadow(0px 0px 5px 5px rgba(200,200,200,.7)) !important;*/
    transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index:1000 !important;
}

.button:not(.circular) {
  border-radius: 10px !important;
}

.inline {
    display: inline !important;
}
.rounded {
    border-radius: 10px !important;
}

.hscroll::-webkit-scrollbar {
  height: 1px;
}

 .button {
    margin: .2em !important;
} 


@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}


#iron-router-progress {
	background-color : blue;
	box-shadow       : 0 0 10px red;
}

#iron-router-progress.spinner:before {
	border-color : green;
}




.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:101vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}
.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:250px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

::-webkit-scrollbar {
  width: 2px !important;
}
