template(name='admin')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.header 
                +i name='shield'
                |admin
            
            .ui.header orders
            +orders