template(name='home')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header profile
            .ui.header sections
            .ui.list 
                .item 
                    i.food.icon
                    |food 
                .item 
                    i.home.icon
                    |housing
                .item 
                    i.shirt.icon
                    |clothing
                .item 
                    i.car.icon
                    |transportation
                .item 
                    i.lightning.icon
                    |energy
                .item 
                    i.leaf.icon
                    |zero waste
                .item 
                    i.smile.icon
                    |wellness
                .item education
                .item art
                .item community core
            .ui.header 
                |resources