template(name='resource')
    ui.celled.stackable.vertically.divided.grid
        .three.column.row
            .column
            .column
            .column
        .two.column.row
        .one.column.row
        
        
        
        
            .ui.celled.stackable.vertically.divided.grid
        .three.column.row
            .column
                |a
            .column
                |a
            .column
                |a
        .two.column.row
            .column
                |a
            .column
                |a
        .one.column.row
            .column
                |a