/*.batman > *{*/
/*    animation: fly 100s linear infinite;*/
/*    top: 0;*/
/*	left: 0;*/
/*	position: fixed;*/
/*	z-index: 999;*/
/*	pointer-events: none;*/
/*}*/
/*.flash > *{*/
/*    animation: fly 50s linear infinite;*/
/*    top: 0;*/
/*	left: 0;*/
/*	position: fixed;*/
/*	z-index: 999;*/
/*	pointer-events: none;*/
/*}*/
/*@keyframes fly {*/
/*	0% {*/

/*		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;*/
/*	}*/

/*	12.5% {*/
/*		transform: translate(120vw,-120%) rotateZ(20deg);*/
/*	}*/

/*	25% {*/
/*		transform: translate(-200%,50vh) scale(1.75) rotateZ(-20deg);*/
/*	}*/

/*	37.5% {*/
/*		transform: translate(-200%,-120%) rotateZ(-40deg);opacity: .5;*/
/*	}*/

/*	50% {*/
/*		transform: translate(100vw,50vh) rotateZ(0deg);*/
/*	}*/

/*	62.5% {*/
/*		transform: translate(20vw,100vh) rotateZ(20deg);*/
/*	}*/
/*	75% {*/
/*		transform: translate(200%,100vh) rotateZ(20deg);opacity: .25;*/
/*	}*/
/*	87.5% {*/
/*		transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);*/
/*	}*/

/*	100% {*/
/*		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;*/
/*	}*/
/*}*/
